[user]
    name = Kieran Goldsworthy
    email = KieranG@kgol.xyz
    signingkey = 02D593760BD11087E481F55206828A9E8F1261BC
[include]
    # if my username and email are different for some reason use those stored in...
    path = .gitconfig.local
[core]
    # set vim as the default editor for commit messagees
    editor = vim
    autocrlf = input
    eol = lf
[merge]
    # using vim as my editor, it makes sense to use vimdiff as the merger
    tool = vimdiff
[color]
    # enable colours
    ui = true
[push]
    default = simple
[commit]
    template = ~/.gitmessage
    gpgSign = true

# Add delta as the diff tool
[include]
    path = ~/.config/delta/delta.gitconfig

# Add Aliases
[include]
    path = ~/.config/git/alias.gitconfig