[include] # Link to current user
    path = ~/.config/git/users/ACTIVE
[core]
    # set vim as the default editor for commit messagees
    editor = vim
    autocrlf = input
    eol = lf
    excludesFile = ~/.config/git/gitignore_global
[merge]
    # using vim as my editor, it makes sense to use vimdiff as the merger
    tool = vimdiff
[color]
    # enable colours
    ui = true
[push]
    default = simple
[commit]
    template = ~/.config/git/gitmessage
    gpgSign = true

# Add delta as the diff tool
#[include]
#    path = ~/.config/delta/delta.gitconfig

# Add Aliases
[include]
    path = ~/.config/git/alias.gitconfig
